{{>header}}

<main class="d-flex justify-content-center align-items-center flex-column">

    <h1 class="h1">{{username}}, нещо се обърка, пич: Error 404: Page not found!</h1>

    <img src="./assets/images/frowny-face-transparent-10.png" alt="error 404 sad face" width="500px">

</main>