<div class="card">
    <div class="card-body mx-auto d-flex justify-content-between flex-wrap">
        <p class="card-title">Time: {{hour}}</p>
        <p class="card-text">Air temperature: {{airTemp}}&#8451;</p>
    </div>
</div>