{{>header}}

<main>

    <div class="w-25 mx-auto">

        <h3>Login</h3>

        <form>
            
            <div class="mb-3">
                <label for="logUsername" class="form-label">Username</label>
                <input type="text" class="form-control" id="logUsername">
            </div>

            <div class="mb-3">
                <label for="logPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="logPassword">
            </div>

            <button type="submit" id="logMeBtn" class="btn btn-primary">Login</button>

        </form>

    </div>


</main>