{{>header}}

<main>

    <div class="w-25 mx-auto">

        <h3>Register</h3>

        <form>

            <div class="mb-3">
                <label for="regUsername" class="form-label">Username</label>
                <input type="text" class="form-control" id="regUsername">
            </div>

            <div class="mb-3">
                <label for="regPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="regPassword1">
            </div>


            <div class="mb-3">
                <label for="regPassword2" class="form-label">Repeat Password</label>
                <input type="password" class="form-control" id="regPassword2">
            </div>

            <button type="submit" id="regMeBtn" class="btn btn-primary">Register</button>

        </form>

    </div>

</main>